# Austin Rasberry
## arasberr
### lab12

In [7]:
def hailstone(n2):
    while n2 != 1:
        print(int(n2))
        if n2%2 != 0:
            n2 = (n2*3)+1
        else:
            n2 = n2/2

In [10]:
hailstone(3)

3
10
5
16
8
4
2

In [16]:
def keysToRemove(d1,l1):
    for i in range(0,len(l1)):
        if l1[i] in d1:
            d1.pop(l1[i])
    return d1

In [17]:
keysToRemove({"FirstName": "Mark", "LastName": "Zuckerberg", "Salary": 2000000, 
"City": "Palo Alto", "Company":"Facebook"}, ["Salary", "Company"])

{'FirstName': 'Mark', 'LastName': 'Zuckerberg', 'City': 'Palo Alto'}

In [54]:
def animalLegs(d2):
    cowLegs = 0
    rabbitLegs = 0
    dogLegs = 0
    chickenLegs = 0
    totalLegs = 0
    cowLegs = d2.get('cows', 0) * 4
    rabbitLegs = d2.get('rabbits', 0) * 4
    dogLegs = d2.get('dogs', 0) * 4
    chickenLegs = d2.get('chickens', 0) * 2
    totalLegs = cowLegs + rabbitLegs + dogLegs + chickenLegs
    return totalLegs

In [55]:
animalLegs({'chickens':10, 'rabbits': 5})

40

In [56]:
animalLegs({'dogs':10, 'chickens':5, 'cows':5})

70

In [66]:
def listDetails(L):
    numOfElements = len(L)
    minValue = L[1] 
    minIndex = 0
    totalValue = 0
    mean = 0 
    maxValue = L[1]
    maxIndex = 0
    tupleDetails = ()
    for i in range(0,len(L)):
        if L[i] < minValue:
            minValue = L[i]
            minIndex = i
    for i in range(0,len(L)):
        if L[i] > maxValue:
            maxValue = L[i]
            maxIndex = i
    for i in range(0,len(L)):
        totalValue += L[i]
    mean = round(totalValue / len(L),2)
    tupleDetails = (numOfElements, minValue, minIndex, mean, maxValue, maxIndex)
    return tupleDetails

In [67]:
listDetails( [-8, -23, 18, 103, 0, 1, -4, 631, 3, -41, 5] )

(11, -41, 9, 62.27, 631, 7)

In [90]:
def minSum(L2):
    minSum = L2[0]+L2[1]
    minSumIndices = []
    for i in range(0,len(L2)):
        for n in range(0,len(L2)):
            if L2[i] + L2[n] < minSum and L2[i] + L2[n] != L2[i]* 2:
                minSum = L2[i] +L2[n]
                minSumIndices = [i,n]
    print(minSumIndices)

In [93]:
minSum([2,78,9,21,4,99,33])

[0, 4]